* { box-sizing: border-box; margin: 0; padding: 0; }

body {
    display: grid;
    grid-template-columns: 200px 1fr 200px;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    
}

header, footer {
    grid-column: 1 / -1; 
}

header {
    grid-column: 1 / -1;
    background: rgb(255, 242, 0);
    color: rgb(255, 0, 162);
    text-align: center;
    padding: 20px;
    border: 5px dashed rgb(255, 0, 183);
}
aside {
    min-height: 100vh; 
    background-image: url('https://media1.tenor.com/m/tTBpmxEdqJ8AAAAd/%D0%B0%D1%80%D1%82%D1%83%D1%80-%D0%BF%D0%B8%D1%80%D0%BE%D0%B6%D0%BA%D0%BE%D0%B2-%D0%B0%D1%80%D1%82%D1%83%D1%80.gif');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid rgb(255, 0, 132);
}

main {
    background-image: url('https://tophit.com/_next/image?url=https%3A%2F%2Ff.tophit.com%2Fget.php%3Fw%3D1080%26h%3D1080%26id%3D1606&w=640&q=75.png');
    color: black;
    padding: 20px;
}

footer {
    grid-column: 1 / -1; 
    background: rgb(255, 238, 0);
    border: 5px solid rgb(255, 0, 132);   
    color: rgb(164, 121, 13);
    padding: 20px;
    text-align: center;
    width: 100%;
}
.flex-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 20px 0;
}
.text{
    color: rgb(255, 0, 0);
}
.ads {
    background-position: center;
    border: 3px solid rgb(255, 0, 204);       
}
article {
    flex: 1 1 180px;
    border: 3px solid rgb(255, 0, 204);
    padding: 10px;
    text-align: center;
    background: #f8e9eb;
}

.vip { 
    background: rgb(255, 237, 121);
    border: 10px solid rgb(21, 85, 0);
    border-style: double;
}

.blink { 
    animation: blinker 0.4s infinite; 
    font-weight: bold;
    color: rgb(255, 255, 255)
}

@keyframes blinker { 50% { opacity: 0; } }

.slogan {
    font-size: 1.2rem;
    color: rgb(255, 0, 204);
    font-weight: 900;
    margin: 10px 0;
    text-align: center;
}

.button-r {
    background: rgb(55, 152, 63);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}
.button-l {
    background: rgb(152, 55, 55);
    color: rgb(255, 255, 255);
    border: none;
    padding: 10px;
    width: 100%;
    cursor: pointer;
    font-weight: bold;
}

@media (max-width: 320px) {
     body {
        grid-template-columns: 1fr;
    }

    aside {
        display: none;
    }

    footer {
        display: block;
        order: 99;
    }
}

